@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg-color: #edede9;
  --secondary-bg-color: #f5ebe0;
  --primary-color: #e3d5ca;
  --accent-color: #d6ccc2;
  --secondary-accent-color: #a09890;
  --text-color: #0d1b2a;
  --text-accent-color: #636779;
  --focus-color: #fcbf49;

  --img-border-radius: 30%;
}

*::-webkit-scrollbar {
  scrollbar-width: none;
  background-color: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	line-height: 1;

  background-color: var(--main-bg-color);
  color: var(--text-color);
}

#root {
  width: 100%;
  height: 100%;
}

.logo {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  padding: 0.5rem;
}

.page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: top;
}

.main {
  display: flex;
  flex-grow: 1;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  display: flex;
  align-items: center;

  padding: 1px 6px;

  border: 1px solid var(--accent-color);
  border-radius: 10px;
  resize: none;
}

.search-input-focused {
  border: 1px solid var(--focus-color);
}

.pure-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.pure-button span {
  display: block;
}

.search-input-field {
  border: none;
  background: transparent;
}

.search-input .search-input-field {
  margin: 2px 1px;
}

.search-input .search-input-field:focus {
  outline: none;
}

.contacts-search {
  width: 100%;
}

.horiz-bot-border {
  width: 60%;
  border-bottom: 1px solid var(--accent-color);
  border-radius: 10px;
  margin: 2px auto;
}

.mat-button {
  padding: 2px;
  transition: all 0.25s;
  border-radius: 20px;
}

.mat-button:hover {
  background-color: var(--accent-color);
}